doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title News Nudge
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/f98daa65c7.js", crossorigin="anonymous")
    link(href="styles.css" rel="stylesheet")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(src="functions.js")
    link(rel="icon", href="images/favicon.ico", type="image/x-icon")
  body 
    .container.mx-auto
      h1.display-4.fw-bold.mb-4.text-center News Nudge
      .container.mt-5
        .row.justify-content-center
          .col-md-8
            .card.shadow-lg
              .card-header.bg-primary.text-white
                h4.text-center Article already in database
              .card-body
                p The link to share this article is 
                  a(href=`#{shortUrl}`) #{shortUrl}
                  // If 'shortUrl' is a variable from your server, this should work.
                  // However, if you need to pass it into a function like `copyToClipboard`, you might need to handle it differently.
                  i.fa-solid.fa-2x.fa-clipboard(style="color:#0275d8; cursor:pointer; margin-left:3px" onclick=`copyToClipboard('${shortUrl}')`)
                  p#success.alert.alert-success The link has been copied to your clipboard!
                p.text-center 
                  a(href='/') Return Home
